<div class = "container">
<h1> Stupid Coaching </h1>
<div class="shadow m-4">
<h3><%= @question %></h3>
<p>-you</p>
</div>
<div class="shadow m-4 border-start border-5 alert alert-warning bs-warning-bg-subtle text-dark">
<h3><%= @answer %></h3>
<p>-Your Stupid Coach</p>
</div>
</div>
